.container {
  display: flex;
  align-items: flex-start;
}

#inputBox {
  width: 265px;
  height: 600px;
  resize: none;
}

button {
  border-radius: 4px;
  padding: 2px 16px;
  border-color: transparent;
  height: 36px;
  font-size: 14px;
  cursor: pointer;
  background-color: rgb(249, 169, 43);
}

.convertBtn {
  margin: 300px 20px 0px 20px;
}

.clearBtn {
  margin-top: 20px;
}

.buttonField {
  text-align: center;
}

.eventList {
  width: 400px;
  /* height: 30px; */
  border: 1px solid black;
}

.eventSummary {
  cursor: pointer;
  border: 1px solid black;
  /* height: 30px; */
}

.evnetNo {
  width: 20px;
  margin: 5px;
  text-align: center;
  display: inline-block;
}

.eventName {
  display: inline-block;
  /* width: 20px; */
  margin: 6px 5px 5px 5px;
  text-align: center;
  display: inline-block;
}

.time {
  margin: 6px 5px 5px 5px;
  float: right;
}

table {
  width: 600px;
  margin-left: 15px;
  font-size: 14px;
  border-collapse: collapse;
}

thead > tr > th {
  background: rgb(238,240,243);
  text-align: left;
  padding-left: 25px;
  padding: 3px 20px;
}

thead, td, th {
  border: 1px solid black;
}

tbody > tr > td:first-child {
  width: 200px;
}

tbody > tr > td:nth-child(2) {
  width: 350px;
  table-layout: fixed;
  border-right: none;
}

tbody > tr > td:nth-child(3) {
  border-left: none;
}

tbody > tr > td:nth-child(3) > div {
  font-size: 12px;
  margin-right: 5px;
  width: 30px;
  float: right;
  user-select: none;
  border-radius: 5px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
}

.num {
  border: 1px solid rgb(168, 180, 247);
  background-color: rgb(168, 180, 247);
}

.str {
  border: 1px solid rgb(249, 169, 43);
  background-color: rgb(249, 169, 43);
}

.sum {
  display: none;
}

#remainThead {
  cursor: pointer;
}

.error {
  background-color: rgb(234, 89, 86);
}