@font-face {
  font-family: 'Noto';
  src: url(font/NotoSansKR-VariableFont_wght.ttf);
}

.header {

}

.firebase {

}

.gtm {
  
}

.container {
  display: flex;
  align-items: flex-start;
}

#inputBox {
  width: 265px;
  height: 600px;
  resize: none;
}

button {
  border-radius: 4px;
  padding: 2px 16px;
  border-color: transparent;
  height: 36px;
  font-size: 14px;
  cursor: pointer;
  background-color: rgb(249, 169, 43);
}

.convertBtn {
  margin: 300px 20px 0px 20px;
}

.clearBtn {
  margin-top: 20px;
}

.buttonField {
  text-align: center;
}

.eventList {
  width: 400px;
  /* height: 30px; */
  border: 1px solid black;
}

.eventSummary {
  cursor: pointer;
    border: 1px solid black;
    /* height: 30px; */
    font-family: 'Noto';
    font-size: 14px;
    font-weight: 400;
}

.evnetNo {
  width: 20px;
  margin: 5px;
  text-align: center;
  display: inline-block;
}

.eventName {
  display: inline-block;
  /* width: 20px; */
  margin: 6px 5px 5px 5px;
  text-align: center;
  display: inline-block;
}

.time {
  margin: 6px 5px 5px 5px;
  float: right;
  font-size: 13px;
  font-weight: 400;
}

.tableField {
  margin-left: 20px;
}

table {
  width: 600px;
  word-break:break-all;
  font-size: 14px;
  border-collapse: collapse;
}

thead {
  height: 33px;
}

thead > tr > th {
  background: rgb(238,240,243);
  text-align: left;
  padding-left: 25px;
  padding: 3px 13px;
}

thead, td, th {
  font-family: 'Noto';
  border: 1px solid rgb(218 222 228);
  padding-left: 7px;
}

tbody > tr > td:first-child {
  width: 200px;
  font-family: 'Noto';
  font-weight: 500;
  font-size: 13px;
}

tbody > tr > td:nth-child(2) {
  font-family: 'Noto';
  width: 350px;
  table-layout: fixed;
  border-right: none;
  font-size: 12.5px;
  font-weight: 400;
  color: rgb(59,68,81);
}

tbody > tr > td:nth-child(3) {
  border-left: none;
}

tbody > tr > td:nth-child(3) > div {
  font-size: 12px;
  margin-right: 5px;
  width: 30px;
  float: right;
  user-select: none;
  border-radius: 5px;
  text-align: center;
  height: 19px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
}

.num {
  border: 1px solid rgb(168, 180, 247);
  background-color: rgb(168, 180, 247);
}

.str {
  border: 1px solid rgb(249, 169, 43);
  background-color: rgb(249, 169, 43);
}

.sum {
  display: none;
}

#remainThead {
  cursor: pointer;
}

.error {
  /* background-color: rgb(234, 89, 86); */
  background-color: #EC8F5E;
}

.selected {
  background-color: #9FBB73;
}